<p>users works!</p>
<div *ngIf="user">

    <div>
        <label>Name: </label>{{user.name}}
    </div>

    <div>
        <label>Email</label>{{user.email}}
    </div>

    <!-- <div>
        <label>ID: </label>{{user.userID}}
    </div>
    <div>
        <label>First Name: </label>{{user.userFirstName}}
    </div>
    <div>
        <label>Last Name: </label>{{user.userLastName}}
    </div>
    <div>
        <label>Role: </label>{{user.userRole}}
    </div> -->
</div>
<span class="btn is-small btn-primary">Delete</span>
<hr />

