.ticket-card{
    border: 1px solid grey;
    border-radius: 10px;
}

.scrollDiv {
    height    : auto;
    max-height: 150%;
    overflow  : auto;
}

.scrollbar {
    background: transparent;
    overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar {
    width           : 6px;
    background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #0e3147;
}