<div style="border-bottom: 1.5px solid #2a6aae93; border-top: 2.5px solid #2a6aae93; background: #0e1d42;">
    <nav class="navbar navbar-collapse navbar-expand-md navbar-dark bg-none">
        <div class="sub-navbar nav-center">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/betting">Ponuda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/">Rezultati</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/">Tabele plasmana</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/">Status tiketa</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" routerLink="/">Lucky Super 6</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/">Virtuali</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
</div>